/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #d4d4d4
}

body {
    height: 100vh;
}

.background { 
    font-family: Arial, sans-serif;
    background: radial-gradient(ellipse at top, #180520, transparent), 
    radial-gradient(ellipse at bottom, #362449, transparent),
    radial-gradient(ellipse at right, #060afd, transparent),
    radial-gradient(ellipse at left, #0a0b3d, transparent);
    background-size: cover;

} 

.main-head{
    background-image: url('../images/background_header.jpg');
    background-size: cover;
    color: #d4d4;
    margin: 0;
        padding: 0;
        box-sizing: border-box;
        color: #d4d4d4
    }
    
    main {
        padding: 2rem;
        height: 87%;
    }
    
    .container {
        max-width: 1200px;
        margin: 0 auto;
    }
    .photo img {
        width: 100%;
        height: auto;
        border-radius: 5px;
    }
    
    .swiper-slide{
        text-align: center;
    }
    
    
     @media (min-width: 767px) {
        .main-head {
            padding: 4rem;
        }
    
    }
    
    @media (max-width: 500px) {
            .swiper-slide {
                width: 100px;
                height: 70px;
            
        }
}

@media (min-width: 767px) {
    .main-head {
        padding: 4rem;
    }

}

main {
    padding: 2rem;
    height: 87%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}
.about {
    margin-bottom: 4rem;
}
.gallery {
    margin-bottom: 4rem;
}
.gallery h2 {
    text-align: center;
    margin-bottom: 2rem;
}
.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
}
.photo {
    overflow: hidden;
    border-radius: 5px;
}
.photo img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.swiper {
    width: 900px;
    height: 600px;
}



